* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,
button {
    border: none;
    outline: none;
    background-color: transparent;
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    column-gap: 4rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

/* Calendar */
#calendar {
    width: 800px;
    margin: 50px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#getYM {
    font-size: 3rem;
    font-weight: 600;
    color: rosybrown;
    letter-spacing: -1px;
}

.navBtn {
    width: 28px;
    height: 30px;
    line-height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: .7;
}

.now {
    width: 70px;
    font-size: .9rem;
    font-weight: 600;
}

#days {
    display: flex;
    margin: 40px 0 12px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

#dates {
    height: 600px;
    display: flex;
    flex-flow: wrap;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;;
}

.date {
    width: calc(100% / 7);
    text-align: right;
    padding: 12px;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: .3;
}

.today {
    position: relative;
    color: #fff;
}

.today::before {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D13E3E;
    border-radius: 50%;
}

/* toDoList */
.todo-title {
    padding: 2rem;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: rosybrown;
    letter-spacing: -1px;
}

.todo-box {
    width: 30rem;
    padding: .7rem;
    border-radius: 10px;
    background-color: #fff;
}

.todo-input-box {
    height: 3rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    justify-content: flex-start;
    align-items: center;
}

.complete-all-btn {
    color: gray;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
}

.complete-all-btn.checked {
    color: green;
}

.todo-input {
    width: 80%;
    text-align: center;
    font-size: 1rem;
}

.todo-item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #ddd;
}

.todo-item:hover .delBtn {
    opacity: 1;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.todo-item.checked .checkbox {
    border: 1px solid darkgray;
    color: green;
}

.todo {
    font-size: 1rem;
    padding: 0 1rem;
    width: 80%;
}

.todo-item.checked .todo {
    color: lightgray;
    font-style: italic;
    text-decoration: line-through;
}

.delBtn {
    opacity: 1;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: lighter;
    cursor: pointer;
    color: rosybrown;
}

.todo-bottom {
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-items {
    font-size: .8rem;
}

.button-group {
    flex-wrap: nowrap;
    flex-direction: row;
}

.button-group button {
    border: 1px solid #ddd;
    padding: .2rem .5rem;
    margin: 0 .5rem;
    border-radius: 4px;
    cursor: pointer;
    color: #333333;
}

.button-group button.selected {
    border: 1px solid rosybrown;
}

.clear-completed-btn {
    color: #333333;
}

.clear-completed-btn:hover {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.edit-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    height: 2.8rem;
    margin: 0;
}

.info {
    font-size: .7rem;
    text-align: center;
    margin-top: 1.5rem;
    color: #333333;
}